h2 {
    margin-bottom: 16px;
}
.pizzas-container {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            background-color: var(--primary-color);
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 4px;
            .visible-panel {
                display: flex;
                align-items: center;
                width: 100%;
                background-color: var(--primary-color);
                cursor: pointer;
                border: none;
            }
            .active-panel {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                .pizza-details {
                    width: inherit;
                    display: flex;
                    .pizza-price-and-size {
                        margin: 20px 10px 20px 20px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        label {
                            display: flex;
                            flex-direction: column;align-items: center;
                            cursor: pointer;
                            /* i considered completely overwriting it but got it close enough
                            by modifying the native element */
                            .checkbox {
                                transform: scale(1.8);
                                accent-color: var(--secondary-color);
                            }
                            p {
                                margin: 10px 0;
                            }
                        }
                        /* currency and price-input would not align perfectly just by setting the same height, 
                        so i used vertical-align to fix it */
                        .currency, .price-input {
                            display: inline-block; 
                            vertical-align: middle;
                        }
                        .currency {
                            display: inline-block;
                            height: 40px;
                            padding: 10px;
                            color: white;
                            background-color: var(--secondary-color);
                            border-radius: 4px 0 0 4px;
                        }
                        .price-input {
                            width: 80px;
                            height: 40px;
                            padding: 10px;
                            text-align: center;
                            border: 1px solid var(--secondary-color);
                            border-radius: 0 4px 4px 0;
                        }
                    }
                }
                .undo-btn {
                    margin: 10px;
                    button {
                        border-radius: 50%;
                        border: 1px solid var(--secondary-color);
                        font-size: 24px;
                        color: var(--secondary-color);
                        font-weight: bold;
                        cursor: pointer;
                    }
                }
            }
            
        }
    }
}

//media queries for smaller screens. 
@media screen and (max-width: 600px) {
    .pizzas-container{
        ul{
            li{
                .active-panel {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    //overwrite pizza details display only when scrren smaller than 455px
                    @media screen and (max-width: 455px) {
                        .pizza-details {
                            display: block;
                        }
                        
                    }
                }
            }
        }
    }
}