<h2>Pizza</h2>
<!-- 
    Added aria attributes where i thought it would improve accessibility.
    Made sure all the events work with keyboard as well by using semantic HTML.
-->
<section class="pizzas-container">
    <ul class="pizzas" >
        <li *ngFor="let pizza of pizzas; let i = index">
            <button class="visible-panel" (click)="setActiveIndex(i)"
            [attr.aria-expanded]="activeIndex === i"
            [attr.aria-controls]="'panel-' + i" 
            id="pizza-{{i}}">
                <!-- Unicode symbols for the "arrowheads"-->
                {{ activeIndex === i ? '▲' : '▼' }} {{pizza.name}}
            </button>
            <section class="active-panel" *ngIf="activeIndex === i" id="panel-{{i}}" 
             [attr.aria-labelledby]="'pizza-' + i">
                <div class="pizza-details">
                    <div class="pizza-price-and-size" *ngFor="let size of pizzaSizes">
                        <label for="checkbox">
                            <input type="checkbox" class="checkbox" 
                            [checked]="currentlyChecked.get(`${pizza.itemId} ${size.sizeId}`)" 
                            (change)="onChanges(`${pizza.itemId} ${size.sizeId}`)">
                            <p>{{size.name}}</p>
                        </label>
                        <div class="pizza-price">
                            <span class="currency">$</span> 
                            <input type="number" step="0.01" class="price-input"
                            [value]="pizzaPrices.get(`${pizza.itemId} ${size.sizeId}`)?.toFixed(2)"
                            [disabled]="!currentlyChecked.get(`${pizza.itemId} ${size.sizeId}`)" 
                            (blur)="onPriceChange(`${pizza.itemId} ${size.sizeId}`, $event)">
                        </div>
                    </div>
                </div>
                <div class="undo-btn" *ngIf="hasPriceChanges(pizza.itemId)">
                    <!-- Unicode symbol for revert -->
                    <button (click)="onRevert()">⤺</button>
                </div>
            </section>
        </li>
    </ul>
</section>